* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    background: blue;
}

.box1,
.box2,
.box3 {
    background: blue;
    border: 2px solid black;
    color:white;
    height: 100px;
    width: 100px;
    margin: 5px;
    text-align: center;
}

.box1 {
    background: red;
}

.box2 {
    background: green;

}

.box3 {
    background: yellow;
    color: black;
}