* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background: rgb(21, 21, 21);
}

.container {
    display: flex;
    background: blue;
}

.container2{
    display: flex;
    flex-direction:column;
    background: purple;
}

.box1,
.box2,
.box3 {
    border: 2px solid black;
    color:white;
    height: 100px;
    width: 100px;
    margin: 5px;
    text-align: center;
}

.box1 {
    background: red;
}

.box2 {
    background: green;

}

.box3 {
    background: yellow;
    color: black;
}

.box4,
.box5,
.box6 {
    border: 2px solid black;
    color:white;
    height: 100px;
    width: 100px;
    margin: 5px;
    text-align: center;
}

.box4 {
    background: hotpink;
}

.box5 {
    background: aqua;
}

.box6 {
    background: fuchsia;
}